@import url("https://fonts.googleapis.com/css?family=Cuprum&display=swap");
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:300,400,500,600,700&display=swap");
html,
body {
  min-height: 100%; }

body {
  padding: 50px 0 20px;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 14px;
  color: #343434; }

h1 {
  font-weight: 400;
  font-size: 2.4em;
  margin-bottom: 15px; }

h2 {
  font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
  margin-top: 0; }

h3 {
  font-weight: 600;
  font-size: 1.1em; }

h4 {
  font-weight: 500;
  font-size: 1.05em;
  text-transform: uppercase; }

a {
  color: #ff4136; }
  a:hover {
    text-decoration: none;
    color: #f52b00;
    cursor: pointer; }
  a:active, a:visited, a:focus {
    text-decoration: none; }

hr {
  border-color: #e0e0e0; }

button, .btn {
  display: block;
  background: none;
  color: #ff4136;
  font-size: 14px;
  border: 1px solid #ff4136;
  border-radius: 0;
  text-transform: uppercase;
  padding: 5px 20px;
  transition: 0.2s;
  margin: 10px 0 15px;
  border-radius: 3px;
  font-weight: 500;
  text-decoration: none; }
  button:focus, button:visited, button:active, .btn:focus, .btn:visited, .btn:active {
    background: none;
    color: #ff4136;
    border: 1px solid #ff4136;
    outline: none; }
  button:hover, .btn:hover {
    background-color: #ff4136;
    color: #fff;
    border: 1px solid #ff4136;
    outline: none; }

.btn-solid {
  background-color: #ff4136;
  color: #fff;
  border: 1px solid #ff4136; }
  .btn-solid:hover {
    background-color: #f52b00;
    border: 1px solid #f52b00; }

.btn-secondary {
  background-color: #fff;
  color: #343434;
  border: 1px solid #343434;
  text-transform: capitalize; }
  .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #fff;
    border: 1px solid #000;
    color: #343434; }

button.btn[disabled] {
  background-color: #e0e0e0;
  color: #555;
  border-color: #555;
  opacity: 0.2; }

form {
  width: 100%;
  margin-bottom: 10px; }
  form label {
    display: block;
    font-weight: normal;
    font-size: 0.9em;
    margin: 5px 0 3px;
    color: #555; }
  form input {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 0 0 10px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1); }
  form select {
    margin: 0;
    height: 32px;
    min-width: 40px;
    background-color: #fff;
    border-color: #e0e0e0; }

.mt-0 {
  margin-top: 0px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-5 {
  margin-left: 5px; }

.ml-10 {
  margin-left: 10px; }

.pr-50 {
  padding-right: 50px; }

.pl-50 {
  padding-left: 50px; }

.pt-50 {
  padding-top: 50px; }

.alert, .failure-msg {
  color: #f52b00;
  display: block;
  padding: 0;
  margin: 0; }

.success-msg {
  color: #009688;
  display: block;
  padding: 0;
  margin: 0; }

.text-light {
  color: #888; }

.text-color {
  color: #ff4136; }

.text-small {
  font-size: 0.9em; }

/* Top Nav */
.navbar {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
  .navbar .navbar-header {
    float: left; }
    .navbar .navbar-header .navbar-brand {
      color: #343434;
      font-size: 30px;
      font-family: 'Cuprum', sans-serif; }
      .navbar .navbar-header .navbar-brand:hover, .navbar .navbar-header .navbar-brand:visited, .navbar .navbar-header .navbar-brand:focus {
        color: #343434; }
  .navbar .navbar-nav {
    padding: 15px;
    position: relative;
    float: right;
    margin: 0; }
    .navbar .navbar-nav a {
      color: #343434;
      text-transform: uppercase;
      font-weight: 500; }
      .navbar .navbar-nav a:hover, .navbar .navbar-nav a:visited, .navbar .navbar-nav a:focus {
        color: #343434; }
      .navbar .navbar-nav a i {
        font-size: 16px; }
      .navbar .navbar-nav a.btn {
        color: #fff;
        margin-top: 20px;
        margin-bottom: 0;
        display: inline-block; }
        .navbar .navbar-nav a.btn:hover {
          color: #fff; }
    .navbar .navbar-nav #addedToCart {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      right: 15px;
      width: 250px;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
      .navbar .navbar-nav #addedToCart.show {
        animation: cssAnimation 4s forwards; }

@keyframes cssAnimation {
  0% {
    visibility: visible;
    opacity: 1; }
  90% {
    visibility: visible;
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }
      .navbar .navbar-nav #addedToCart #addedProdDesc {
        font-weight: 600; }
      .navbar .navbar-nav #addedToCart span {
        margin-bottom: 15px;
        display: inline-block; }

#footer {
  margin-top: 40px; }
  #footer .container {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    background-color: #fff;
    color: #888; }

#content {
  min-height: 85vh; }

/* Home - Product */
.hero {
  background-color: rgba(53, 53, 53, 0.05);
  padding: 60px 0; }
  .hero .container div {
    width: 50%;
    min-width: 500px;
    max-width: 100%; }
    .hero .container div h1 {
      margin: 2px 0 20px;
      font-size: 2.6; }
    .hero .container div .tagline {
      text-transform: uppercase;
      font-weight: 600;
      color: #ff4136; }
    .hero .container div p {
      color: #555; }

.section {
  padding-top: 40px;
  padding-bottom: 40px; }

.product-list .col-md-3 {
  padding-right: 20px;
  padding-left: 20px; }
  .product-list .col-md-3 img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }

.product-description {
  color: #343434;
  font-weight: 500;
  margin: 5px 0 0; }
  .product-description:hover {
    color: #ff4136; }

/* Product */
.product {
  padding: 50px 0; }
  .product h2 {
    margin-bottom: 5px; }
  .product .product-price {
    font-size: 1.1em;
    margin-bottom: 20px; }
  .product .product-count {
    color: #ff4136; }
  .product .img-responsive {
    max-width: 400px;
    width: 100%; }

.success-order,
.error-order {
  display: none; }

#orderId-form {
  text-align: center;
  max-width: 500px;
  margin: 0 auto; }
  #orderId-form label {
    display: block;
    width: 100%; }
  #orderId-form input {
    display: block;
    width: 100%; }

.track-order {
  display: none;
  text-align: center; }

#account-info {
  display: none; }

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px; }

.label-warning[href],
.badge-warning[href] {
  background-color: #ff4136; }

#lblCartCount {
  font-size: 0.8em;
  font-weight: 300;
  background: #ff4136;
  color: #fff;
  width: 15px;
  line-height: 15px;
  border-radius: 50%;
  text-align: center;
  vertical-align: top;
  margin-left: -10px;
  margin-top: -4px;
  padding: 0; }

.cart-list .cart {
  margin-right: 50px;
  margin-top: 50px; }

.cart {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px; }
  .cart h2 {
    margin-bottom: 20px; }
  .cart .cart-item {
    display: flex;
    justify-content: space-between;
    margin: 15px 0; }
    .cart .cart-item img {
      margin-right: 15px;
      width: 75px; }
    .cart .cart-item .cart-item-text {
      width: 80%; }
      .cart .cart-item .cart-item-text .cart-item-name {
        font-weight: bold; }
    .cart .cart-item #remove {
      display: inline-block;
      font-weight: 700;
      margin-left: 15px; }

.cart-total-row {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1em; }

.step {
  background-color: #ff4136;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  width: 25px;
  line-height: 24px;
  padding-bottom: 1px;
  text-align: center;
  vertical-align: baseline; }

#edit-email {
  display: none;
  opacity: 0.5;
  margin-bottom: 20px; }
  #edit-email h3 {
    display: inline-block; }

#edit-account {
  display: none;
  opacity: 0.5;
  margin-bottom: 20px; }
  #edit-account h3 {
    display: inline-block; }

#edit-payment {
  display: none;
  margin-bottom: 20px; }
  #edit-payment h3 {
    display: inline-block; }

#payment-info {
  display: none; }

#place-order-wrapper {
  display: none; }

.confirmation h3 {
  margin-bottom: 5px; }

.confirmation .cart {
  padding: 30px; }
  .confirmation .cart h2 {
    margin-bottom: 5px; }

.confirmation .cart-item img {
  width: 120px; }
